/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body {
  position: relative;
}
#masthead .uabb-creative-menu .sub-menu .uabb-menu-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  margin-top: 5px;
}
select {
  color: #000 !important;
}
.fl-builder-content
  .fl-module-content-slider
  .fl-slide
  .fl-slide-content:empty {
  display: none;
}
.makemefull .fl-module-content .uabb-photo-content,
.makemefull .fl-module-content .uabb-photo-content img {
  width: 100%;
}

#responsive-menu-wrapper #responsive-menu-additional-content .fa {
  transform: rotate(90deg);
  margin-right: 5px;
}
#responsive-menu-wrapper #responsive-menu-additional-content .phone {
  color: #fff;
}

div.fl-page {
  transform: none !important;
}
.fl-page-bar .top-bar-nav li a.phone span:before,
.mobile_top_bar a.phone span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
}

.store-opening-hrs > li {
  position: relative;
}
.store-opening-hrs > li > span {
  position: absolute;
  right: 20px !important;
}

.gform_body .gfield input[type="text"],
.gform_body .gfield textarea {
  text-transform: none !important;
}
body .uabb-gf-style input[type=tel],
body .uabb-gf-style input[type=email],
body .uabb-gf-style input[type=text],
body .uabb-gf-style input[type=url],
body .uabb-gf-style input[type=number],
body .uabb-gf-style input[type=date],
body .uabb-gf-style select,
body .uabb-gf-style textarea{
	text-transform: none !important;
}
#breadcrumbs a {
  color: #428bca !important;
}

.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #333333;
}

.facet_filters strong {
  color: #333333;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #333333;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #333333;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.header_banner > .fl-row-content-wrap {
  min-height: 600px !important;
}
.mobile_top_bar {
  display: none;
}

div#ui-datepicker-div {
  max-width: 250px;
  background: #fff;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
}
table.ui-datepicker-calendar {
  width: 100%;
}
div#ui-datepicker-div a.ui-datepicker-next.ui-corner-all {
  float: right;
}
.storename .direction a.fl-button {
  text-transform: uppercase;
  width: 100%;
  padding: 12px 0;
	text-align: center;
	
}




#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #CC252A;
  border-top: 1px solid #fff;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #4067aa  !important;
  color: #fff !important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 500!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #414042  !important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #414042 !important;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #4067aa !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #fff !important;
  background-color: #414042 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #414042 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #4067aa !important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 500!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #414042  !important;
  color: #fff !important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #4067aa !important;
}

@media (max-width: 1080px) {
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left {
    width: 30%;
  }
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right {
    width: 70%;
  }
  .coretec-sec .fl-module-rich-text .fl-rich-text * {
    font-size: 22px !important;
  }
}
@media (max-width: 1024px) {
  .coretec-sec .fl-module-rich-text .fl-rich-text * {
    font-size: 22px !important;
  }

  .header_banner > .fl-row-content-wrap {
    min-height: 500px !important;
  }

  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }

  .header_banner > .fl-row-content-wrap:after,
  .fl-tabs-panel-content .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 992px) {
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left {
    width: 100%;
    text-align: center;
  }
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right {
    display: none;
  }

  #masthead .fl-module-uabb-photo .uabb-module-content {
    text-align: center;
  }
  .active-gallery-modal .product-box {
    text-align: left;
  }
  .search_icon {
    display: none;
  }
  .fl-col-group.fl-col-group-responsive-reversed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
  }
  .fl-col-group.fl-col-group-responsive-reversed .fl-col {
    -webkit-box-flex: 0 0 100%;
    -moz-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  header {
    display: block !important;
  }
  nav.fl-page-nav.fl-nav.navbar.navbar-default.navbar-expand-md {
    display: none;
  }

  .mobile_top_bar {
    display: block;
    margin-top: 5px;
  }
  .mobile_top_bar ul {
    margin: 0;
    padding: 0;
  }
  .mobile_top_bar ul.storename .address a,
  .mobile_top_bar ul.storename p.inline_address a {
    position: relative;
    display: inline-block;
    margin-top: 10px;
  }
  .mobile_top_bar ul.storename .address a:before,
  .mobile_top_bar ul.storename p.inline_address a:before {
    content: "\F041";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 14px !important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    position: absolute;
    left: -5px;
    top: 0;
  }

  button.rmp_menu_trigger {
    top: 125px !important;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }
  .facet_filters .facet-wrap {
    text-align: left;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air end */

  .captionShow img {
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
  }

  .captionShow .fl-photo-caption-below {
    right: auto;
  }

  .captionShow .fl-photo-caption-below > a:after {
    margin: 9px 0 0 10px;
  }

  .fl-tabs-panel-content .fl-col.fl-col-small {
    max-width: 100%;
  }

  .location-top .uabb-module-content.uabb-list-icon {
    max-width: 130px;
    margin: 20px auto 0;
  }

  .store-opening-hrs > li > span {
    position: static;
    right: unset !important;
  }

  .header_banner > .fl-row-content-wrap {
    min-height: 400px !important;
    padding: 20px 0 !important;
  }

  footer#djcustom-footer .fl-col,
  footer .fl-col {
    width: 100% !important;
  }

  footer table {
    width: 100% !important;
  }

  .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left {
    justify-content: center;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html,
  footer *,
  .fl-callout * {
    text-align: center !important;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text * {
    text-align: left !important;
  }
}

@media (max-width: 992px) {
  .ipad100 {
    width: 100%;
  }
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left {
    width: 100%;
    text-align: center;
  }
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right {
    display: none;
  }
  .header_banner .fl-col-content.fl-node-content {
    margin: 20px;
  }
  .header_banner
    .fl-module.fl-module-info-box
    .fl-module-content.fl-node-content {
    margin-right: 0;
    margin-left: 0;
  }

  /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{ width: auto !important;} */
}
@media (max-width: 767px) {
  .fl-col-small {
    max-width: 100%;
  }

  .product-category-row .uabb-new-ib {
    max-height: 250px;
  }

  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
}
@media (max-width: 699px) {
  .active-gallery-modal .product-box .fl-button {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
  .uabb-gf-style
    .gform_body
    .ginput_container_checkbox
    .gfield_checkbox
    li
    label {
    min-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 480px) {
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    .responsive-menu-item-link {
    height: auto;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  button.rmp_menu_trigger {
    top: 135px !important;
  }

  .product-detail-layout-6 .product-attributes tr td {
    word-break: break-all;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
	ul#menu-copyright-bar-menu {
    justify-content: center;
}
}
.rmp-submenu .rmp-menu-item-link {
	font-size: 8px !important;
}
.top-bar .phone a:before,
.top-bar .inline_address a:before{
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 7px !important;
}
.top-bar .inline_address a:before{
	content: "\f041";
}
@media (max-width: 540px){
	.top-bar .phoneno{
		flex-direction: column;
	}
	.top-bar p.inline_address{
		margin: 0;
	}
}